@import "variables";

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 56px;
  border: 1.4px solid $cornflower-blue;
  border-radius: 55px;
  font-weight: 700;
  font-size: 18px;
  color: $cornflower-blue;
  transition: $transition-button;

  &:hover {
    color: $white;
    background: $cornflower-blue;
  }
}

.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 56px;
  color: $black;
}

.subtitle {
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  color: $topaz;
}

.logo {
  display: flex;
  align-items: center;

  &-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 41px;
    height: 41px;
    border-radius: 50%;
    font-size: 26px;
    font-weight: 700;
    background-color: $cornflower-blue;
    color: $white;
    overflow: hidden;

    &--footer {
      background-color: $white;
      color: $cornflower-blue;
    }
  }

  &-text {
    margin-left: 12px;
    font-size: 24px;
    line-height: 30px;
    color: $cloud-burst;

    &--footer {
      color: $white;
    }
  }
}