$mountain-mist: #8F8A99;
$topaz: #7D7987;
$revolver: #1F1534;
$cloud-burst: #233348;
$black: #000;
$black-90: rgba(255, 255, 255, 0.9);
$black-85: rgba(255, 255, 255, 0.85);
$white: #fff;
$picton-blue: #4089ED;
$cornflower-blue: #458FF6;
$cornflower-blue-hover: #3478d6;
$cornflower-30: rgba(89, 153, 243, 0.3);

$transition-links: all 0.12s ease-in-out;
$transition-button: all 0.2s ease-in-out;